@import "settings";
@import "foundation";
@import "config";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
  background-color: #fcbd00;
  font-size: 14px;
  color: #333;
}

.logo {
  font-family: 'Cinzel', serif;
  font-size: 48px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.hash {
  color: #555;
  margin-left: -72px;
}

.out {
  color: #333;
  margin: -20px -103px 0px 0px;
}

form {

  background-color: #eee;
  border-radius: 10px;
  border: solid 0px #f7f7f7;
  padding: 10px 15px;


  label {
    font-size:  18px;
  }

  .button, .button:hover {
    background: #FFBD15 !important;
    border-color: #FFBD15 !important;
    color: #494848 !important;
    font-weight: 700 !important;
  }

}

.form {
  padding-top: 10px;
}

.signin{
  margin-top: 20px;
  margin-right: 10px;

  a, a:hover {
    color: #333;
    text-decoration: underline
  }
}

.new {
  font-size: 18px;
  vertical-align: middle;
  font-weight: 700;
}








