extends layout

block content



  .row
    .small-12.columns
      form
        .row
          .small-12.columns
            label.text-center Username
          .small-12.columns
            input(type='text' name='username')
        .row
          .small-12.columns
            label.text-center Password
          .small-12.columns
            input(type='text' name='password')

        .row
          .small-12.columns.text-center
            a(href="/home" class="button tiny radius" type="submit") LOG IN

      .row
        small-12.columns.text-right
          .signin
            a(href="/signup") sign up

