doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
  body

    .row
      .small-12.columns
        .logo
          .hash Hash
          .out Out

    block content

    script(src='')